<form>
    <fieldset class="settings-checkboxes" ngModelGroup="languages">
        <legend>Language mode:</legend>
        <input
            type="radio"
            id="all"
            name="languages"
            value="all-languages"
            (change)="languageModeChanged.emit('all-languages')"
            checked
            [(ngModel)]="languageMode"
        />
        <label for="all">Show all languages</label>
        <br />
        <input
            type="radio"
            id="short"
            name="languages"
            value="preferred-languages"
            (change)="languageModeChanged.emit('preferred-languages')"
            [(ngModel)]="languageMode"
        />
        <label for="short">
            Show only preferred languages from the list:
        </label>
    </fieldset>
</form>

<div fxLayout="row">
    <select
        ngFlex
        multiple
        class="languages-list"
        [(ngModel)]="selectedLanguages"
        [disabled]="languageMode === 'all-languages'"
    >
        <option *ngFor="let lang of languageList" [ngValue]="lang">
            {{ lang.value }}
        </option>
    </select>

    <div ngFlex id="language-controls">
        <button
            class="btn language-btn"
            (click)="languageAdded.emit(selectedLanguages)"
            [disabled]="languageMode === 'all-languages'"
        >
            &gt;
        </button>
        <button
            class="btn language-btn"
            (click)="languageRemoved.emit(languagesToRemove)"
            [disabled]="languageMode === 'all-languages'"
        >
            &lt;
        </button>
    </div>

    <select
        ngFlex
        multiple
        class="languages-list"
        [(ngModel)]="languagesToRemove"
        [disabled]="languageMode === 'all-languages'"
    >
        <option *ngFor="let prefLang of preferredLangList" [ngValue]="prefLang">
            {{ prefLang.value }}
        </option>
    </select>
</div>
