<form>
    <fieldset class="settings-title" ngModelGroup="languages">
        <legend>Language mode:</legend>
        <label for="all">
            <input
                type="radio"
                id="all"
                name="languages"
                value="all-languages"
                (change)="optionChanged.emit({ languageMode: 'all-languages', preferredLanguages: [] })"
                checked
                [ngModel]="languageMode"
            />
            Show all languages
        </label>
        <label for="selected">
            <input
                type="radio"
                id="selected"
                name="languages"
                value="preferred-languages"
                (change)="
                    optionChanged.emit({ languageMode: 'preferred-languages', preferredLanguages: preferredLangList })
                "
                [ngModel]="languageMode"
            />
            Show only selected languages from the list:
        </label>
    </fieldset>
</form>
<div fxLayout="row">
    <select
        ngFlex
        multiple
        class="languages-list"
        [(ngModel)]="preferredLangList"
        [compareWith]="compareLangs"
        [disabled]="languageMode === 'all-languages'"
        (change)="optionChanged.emit({ languageMode: 'preferred-languages', preferredLanguages: preferredLangList })"
    >
        <option *ngFor="let lang of languageList" [value]="lang">
            {{ lang.value }}
        </option>
    </select>
</div>
