:host {
    background: var(--background-secondary);
}

.settings-title {
    border: 0;
    padding: 0 10px;
    margin: 0;
    legend {
        padding: 5px 0;
        font-weight: bold;
    }
}

.languages-list {
    width: 350px;
    height: 150px;
    margin-left: 10px;
    padding: 0px 5px;
    outline: none;
    border: 1px solid var(--background-light);
    color: var(--text-default);
    background-color: var(--background-default);
    scrollbar-color: dark;
}

label {
    display: block;
}
