:host {
    background: #ececec;
}

.settings-note {
    margin-top: 10px;
    font-size: 11px;
}

.settings-title {
    padding: 5px;
    font-weight: bold;
}

.checkbox-option {
    padding: 2px;
}
