<div class="settings-title">Application settings</div>
<ul id="app-settings">
    <li class="checkbox-option">
        <label for="start-at-login">
            <input
                type="checkbox"
                id="start-at-login"
                title="Start at login"
                [ngModel]="settings.autolaunch"
                (change)="optionChanged.emit({ autolaunch: $event.currentTarget.checked })"
            />
            Start at login
        </label>
    </li>
    <li class="checkbox-option">
        <label for="show-dock-icon">
            <input
                type="checkbox"
                id="show-dock-icon"
                title="Show dock icon"
                [ngModel]="settings.showDockIcon"
                (change)="optionChanged.emit({ showDockIcon: $event.currentTarget.checked })"
            />
            Show dock icon
        </label>
    </li>
    <li class="checkbox-option">
        <label for="always-on-top">
            <input
                type="checkbox"
                id="always-on-top"
                title="Stay always on the top"
                [ngModel]="settings.alwaysOnTop"
                (change)="optionChanged.emit({ alwaysOnTop: $event.currentTarget.checked })"
            />
            Always on top
        </label>
    </li>
</ul>
<div class="settings-note">
    New settings will only take effect after a restart!
</div>
<div class="settings-title">Shortcuts</div>
<ul>
    <li>
        Use
        <strong>
            <kbd>⌘</kbd>
            /
            <kbd>Ctrl</kbd>
            +
            <kbd>Alt</kbd>
            +
            <kbd>T</kbd>
        </strong>
        to show application window
    </li>
    <li>
        Use
        <strong>
            <kbd>⌘</kbd>
            /
            <kbd>Ctrl</kbd>
            +
            <kbd>Alt</kbd>
            +
            <kbd>R</kbd>
        </strong>
        to translate text from clipboard
    </li>
</ul>
<span class="settings-title">Theme:</span>
<ng-select
    #themeSelector
    [searchable]="false"
    [clearable]="false"
    [ngModel]="settings.theme"
    [items]="availableThemes"
    (change)="optionChanged.emit({ theme: $event })"
    placeholder="Select theme"
>
</ng-select>
