:host {
    background: var(--background-secondary);
}

.settings-note {
    margin-top: 10px;
    font-size: 11px;
}

.settings-title {
    padding: 5px;
    font-weight: bold;
}

.checkbox-option {
    padding: 2px;
}

.theme-btn {
    background-color: var(--background-tertiary);
    color: var(--text-default);
    padding: 5px;
    border: 1px solid var(--border-color-tertiary);
    border-radius: 4px;
}
