.settings-text-bottom {
    color: var(--error-default);
    padding-left: 10px;
    float: left;
    width: 330px;
}

.update-text {
    float: right;
}

#tabs {
    height: 40px;
    position: relative;
    line-height: 40px;
    text-align: center;
    color: var(--text-default);
    margin-left: -10px;
    display: flex;
    justify-content: flex-start;
}

#tabs > div {
    cursor: pointer;
    padding: 0 5px 0 5px;
    width: 80px;
    border-right: 1px solid var(--border-color-secondary);
    color: var(--text-light);
}

#tabs > div:first-child {
    border-right: 1px solid var(--border-color-secondary);
}

.active-tab {
    color: var(--text-dark) !important;
    background: var(--background-secondary);
    font-weight: bold;
    border-bottom: 1px solid var(--background-secondary);
    height: 40px;
}

kbd {
    display: inline-block;
    border: 1px solid var(--background-light);
    border-radius: 4px;
    padding: 0.1em 0.5em;
    margin: 0 0.2em;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px var(--background-default) inset;
    background-color: var(--background-default);
}

.back-btn {
    border: none;
    background: none;
    border-right: 1px solid var(--background-light);
    text-align: center;
    cursor: pointer;

    span {
        font-size: 29px;
        color: var(--text-light);
        line-height: 35px;
    }
}

.close-btn {
    color: var(--text-light);
    font-style: italic;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}

.save-settings-btn {
    background: none;
    border-radius: 2px;
    border: none;
    font-size: 14px;
    padding-right: 10px;
    border-right: 1px solid var(--background-light);
    line-height: 30px;
    outline: none;
    float: left;
    cursor: pointer;
    color: var(--text-light);
}
