.settings-text-bottom {
    color: red;
    padding-left: 10px;
    float: left;
    width: 330px;
}

.update-text {
    float: right;
}

#tabs {
    height: 40px;
    position: relative;
    line-height: 40px;
    text-align: center;
    color: #444;
    margin-left: -10px;
    display: flex;
    justify-content: flex-start;
}

#tabs > div {
    cursor: pointer;
    padding: 0 5px 0 5px;
    width: 80px;
    border-right: 1px solid #afafaf;
    color: #666;
}

#tabs > div:first-child {
    border-right: 1px solid #999;
}

.active-tab {
    color: #111 !important;
    background: #eee;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    height: 40px;
}

kbd {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.1em 0.5em;
    margin: 0 0.2em;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    background-color: #f7f7f7;
}

.back-btn {
    border: none;
    background: none;
    border-right: 1px solid #ccc;
    text-align: center;
    cursor: pointer;

    span {
        font-size: 29px;
        color: #666;
        line-height: 35px;
    }
}

.close-btn {
    color: #666;
    font-style: italic;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}

.save-settings-btn {
    background: none;
    border-radius: 2px;
    border: none;
    font-size: 14px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
    line-height: 30px;
    outline: none;
    float: left;
    cursor: pointer;
    color: #666;
}
