<div
    fxLayout="column"
    fxFlexFill
    class="container"
    *ngIf="appConfig">
    <div
        fxFlex="40px"
        class="options-panel">
        <div fxLayout="row">
            <ng-select
                [items]="languageListFrom"
                [clearable]="false"
                bindLabel="value"
                [ngModel]="appConfig.fromLang"
                (change)="onLanguageChange('fromLang', $event)">
            </ng-select>

            <button
                class="button"
                *ngIf="languageListFrom.length > 0"
                id="direction-switch"
                (click)="changeTranslationDir()"
                [disabled]="appConfig.fromLang.key === 'ad'">
                <span class="fa fa-exchange"></span>
            </button>

            <ng-select
                [items]="languageListTo"
                [clearable]="false"
                bindLabel="value"
                [ngModel]="appConfig.toLang"
                (change)="onLanguageChange('toLang', $event)">
            </ng-select>
        </div>

        <div
            class="dropdown is-right"
            [class.is-active]="showMoreMenu"
            (clickOutside)="hideMenu()">
            <div class="dropdown-trigger">
                <button
                    class="button"
                    aria-haspopup="true"
                    aria-controls="dropdown-menu"
                    (click)="showMoreMenu = !showMoreMenu">
                    <span class="icon is-small">
                        <i
                            class="fa fa-ellipsis-v"
                            aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div
                class="dropdown-menu"
                id="dropdown-menu"
                role="menu">
                <div class="dropdown-content">
                    <a
                        [routerLink]="['/settings']"
                        class="dropdown-item">
                        Preferences
                    </a>
                    <a
                        [routerLink]
                        class="dropdown-item"
                        (click)="showDictionary()">
                        Dictionary
                    </a>
                    <a
                        [routerLink]="['/settings']"
                        [queryParams]="{ tab: 'about' }"
                        class="dropdown-item">
                        About
                    </a>
                    <hr class="dropdown-divider">
                    <a
                        [routerLink]
                        class="dropdown-item"
                        (click)="closeApp()">
                        Quit
                    </a>
                </div>
            </div>
        </div>
    </div>

    <textarea
        fxFlex
        fxFlexFill
        class="textarea-original"
        name="enteredText"
        placeholder="Type text to translate"
        type="text"
        [(ngModel)]="enteredText"
        autofocus
        (keydown.enter)="translate(enteredText, appConfig.fromLang.key, appConfig.toLang.key)"
        (keyup)="keyUp.next($event)"></textarea>

    <div
        fxFlex
        id="result-area">
        <div
            id="translation-toolbar"
            (click)="saveToDictionary()"
            *ngIf="translation">
            <span
                class="fa fa-star-o"
                *ngIf="!isFavorited"></span>
            <span
                *ngIf="isFavorited"
                class="fa fa-star"></span>
        </div>
        <div
            *ngIf="!translation"
            class="translation-preview">
            Click
            <strong>Enter</strong>
            to translate
        </div>

        <div
            *ngIf="translation"
            class="translation">
            {{ translation.$text }}
        </div>
    </div>

    <div
        fxFlex="40px"
        id="footer">
        <div
            class="copyright"
            fxLayout="row">
            <div
                class="yandex-text"
                fxFlex="50">
                Powered by
                <a
                    href="#"
                    (click)="openUrl('http://translate.yandex.ru/')">
                    «Yandex Translator»
                </a>
            </div>
            <div
                class="update-text"
                fxFlex="50"
                fxLayoutAlign="end center"
                *ngIf="updateAvailable">
                <a
                    href="#"
                    (click)="openUrl('https://github.com/4gray/oversetter/releases')">
                    New app version is available
                </a>
            </div>
        </div>
    </div>
</div>
