<div class="about-container">
    <img src="../../img/icon.png" class="about-icon">
    <div class="about-title">Oversetter</div>
    <div class="about-version">{{version}}</div>
    <div class="about-description">Translate text directly from your menubar.</div>
    <div class="about-footer">
        2017 &copy; 4gray. <a href="#" (click)="electronService.shell.openExternal('https://4gray.github.io/oversetter/')">Homepage</a>. <a href="#" (click)="electronService.shell.openExternal('https://github.com/4gray/oversetter/issues')">Report a bug</a>
    </div>
</div>