<div id="translate-area">
    <form (ngSubmit)="translate(word, settings.fromLang, settings.toLang)" (keyup.enter)="translate(word, settings.fromLang, settings.toLang)">
        <div class="options-panel">
            <label>Translate from:</label>
            <select name="fromLang" [(ngModel)]="settings.fromLang" (ngModelChange)="onSettingsChange($event, 'fromLang')" class="form-control" id="from-lang" required>
			  	<option value="ad">Auto-detect</option>
				<option *ngFor="let lang of langs | keys" [value]="lang.key">{{lang.value}}</option>
			</select>

            <span id="direction-switch" (click)="changeTranslationDir()"><i class="fa fa-exchange"></i></span>

            <select name="toLang" [(ngModel)]="settings.toLang" (ngModelChange)="onSettingsChange($event, 'toLang')" id="to-lang">
				<option *ngFor="let lang of langs | keys" [value]="lang.key">{{lang.value}}</option>
			</select>

            <i class="fa fa-cog settings-icon" [routerLink]="['/settings']"></i>
        </div>

        <textarea class="textarea-original" name="word" placeholder="Type text to translate" type="text" [(ngModel)]="word" autofocus></textarea>
    </form>

</div>

<div id="result-area">
    <!--<div id="translation-toolbar"><i class="fa fa-star"></i></div>-->
    <div *ngIf="!translation" class="translation-preview">Click <strong>Enter</strong> to translate</div>
    <div *ngIf="translation" class="translation">{{translation.text}}</div>
</div>


<div id="footer">
    <div class="copyright">
        <div class="yandex-text">Powered by <a href="#" (click)="electronService.shell.openExternal('http://translate.yandex.ru/')">«Yandex Translator»</a></div>
        <div class="update-text" *ngIf="updateAvailable">
            <a href (click)="electronService.shell.openExternal('https://github.com/4gray/oversetter/releases')">New app version is available</a>
        </div>
    </div>
</div>