<div id="translate-area">
	<form (ngSubmit)="translate(word)" (keyup.enter)="translate(word)">
		<div class="options-panel">
			<label>Translate from:</label>
			<select name="fromLang" [ngModel]="settings.fromLang" (ngModelChange)="onSettingsChange($event, 'fromLang')" class="form-control" id="from-lang" required>
				<option *ngFor="let lang of langs | keys" [ngValue]="lang.key">{{lang.value}}</option>
			</select>

			<span id="direction-switch" (click)="changeTranslationDir()"><i class="fa fa-exchange"></i></span>

			<select name="toLang" [ngModel]="settings.toLang" (ngModelChange)="onSettingsChange($event, 'toLang')">
				<option *ngFor="let lang of langs | keys" [ngValue]="lang.key">{{lang.value}}</option>
			</select>

			<i class="fa fa-cog settings-icon" [routerLink]="['/settings']"></i>
		</div>

		<textarea class="textarea-original" name="word" placeholder="Type text to translate" type="text" [(ngModel)]="word"></textarea>

		<!--<input [disabled]="!word" type="submit" value="Translate" class="btn-translate" />-->
	</form>

</div>

<div id="result-area">
	<!--<div id="translation-toolbar"><i class="fa fa-star"></i></div>-->
	<div *ngIf="!translation" class="translation-preview">Click <strong>Enter</strong> to translate</div>
	<div *ngIf="translation" class="translation">{{translation.text[0]}}</div>
</div>


<div id="footer">
	<div class="copyright">
		Powered by <a href="http://translate.yandex.ru/" target="_blank">«Yandex Translator»</a>
	</div>
</div>