#all-languages-list,
#selected-languages-list {
    width: 220px;
    height: 155px;
    padding: 0px 5px;
    outline: none;
    border: 1px solid #ccc;
}

#all-languages-list:disabled>option,
#selected-languages-list:disabled>option {
    color: #999;
}

#remove-language,
#add-language {
    background: #ccc;
    width: 40px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    cursor: pointer;
    color: #555;
    margin: 10px;
}

.settings-checkboxes {
    border: 0;
    padding: 0 0 8px 0;
    margin: 0;
}