<div fxLayout="column" fxFlexFill style="overflow: hidden;">

    <div fxFlex="15px" class="arrow-up" *ngIf="showArrow"></div>

    <div fxFlex="40px" class="options-panel">
        <label>Translate from:</label>
        <div class="language-selectors">



            <app-lang-selector *ngIf="langs.length > 0" direction="fromLang" [selected]="settings.fromLang.$value"
                [languages]="langs" (changeLanguage)="onLanguageChange('fromLang', $event)"></app-lang-selector>

            <button class="button" *ngIf="langs.length > 0" id="direction-switch" (click)="changeTranslationDir()"
                [disabled]="settings.fromLang.$key === 'ad'">
                <i class="fa fa-exchange"></i>
            </button>


            <app-lang-selector *ngIf="langs.length > 0" direction="toLang" [selected]="settings.toLang.$value"
                [languages]="langs" (changeLanguage)="onLanguageChange('toLang', $event)"></app-lang-selector>

        </div>

        <div class="dropdown is-right" [class.is-active]="showMoreMenu">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" (click)="showMoreMenu=!showMoreMenu">
                    <span class="icon is-small">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <a [routerLink]="['/settings']" class="dropdown-item">
                        Preferences
                    </a>
                    <a [routerLink]="" class="dropdown-item" (click)="showDictionary()">
                        Dictionary
                    </a>
                    <!-- <a [routerLink]="['/settings']" class="dropdown-item">
                        About
                    </a> -->
                    <hr class="dropdown-divider">
                    <a [routerLink]="" class="dropdown-item" (click)="closeApp()">
                        Quit
                    </a>
                </div>
            </div>
        </div>

    </div>

    <textarea fxFlex fxFlexFill class="textarea-original" name="word" placeholder="Type text to translate" type="text"
        [(ngModel)]="word" autofocus (keydown.enter)="translate(word, settings.fromLang.$key, settings.toLang.$key)"></textarea>

    <div fxFlex id="result-area">
        <div id="translation-toolbar" (click)="saveToDictionary()" *ngIf="translation">
            <i class="fa fa-star-o" *ngIf="!wordFavorited"></i>
            <i *ngIf="wordFavorited" class="fa fa-star"></i>
        </div>
        <div *ngIf="!translation" class="translation-preview">Click
            <strong>Enter</strong> to translate</div>

        <div *ngIf="translation" class="translation">{{translation.$text}}</div>
    </div>


    <div fxFlex="40px" id="footer">
        <div class="copyright">
            <div class="yandex-text">Powered by
                <a href="#" (click)="openUrl('http://translate.yandex.ru/')">«Yandex Translator»</a>
            </div>
            <div class="update-text" *ngIf="updateAvailable">
                <a href (click)="openUrl('https://github.com/4gray/oversetter/releases')">New app version is available</a>
            </div>
        </div>
    </div>
</div>