#offline-container {
    height: 100%;
    background: var(--background-tertiary);
    text-align: center;

    .title {
        font-size: 18px;
        padding-top: 20px;
        font-weight: bold;
    }

    .offline-icon {
        color: var(--text-light);
        font-size: 70px;
        margin-top: 10px;
    }
}
