<div class="dropdown" [class.is-active]="isSelected">
    <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" (click)="toggleSelected()">
            <span>{{selected}}</span>
            <span class="icon is-small">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </div>
    <div class="dropdown-menu lang-selector-dropdown" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
            <a *ngIf="direction === 'fromLang'" [routerLink]="" class="dropdown-item" (click)="switchLanguage(autoDetectLang, direction)"
                [class.is-active]="selected === 'Auto-detect'">
                Auto-detect
            </a>
            <a [routerLink]="" class="dropdown-item" *ngFor="let lang of languages" (click)="switchLanguage(lang, direction)" [class.is-active]="selected === lang.$value">
                {{lang.$value}}
            </a>
        </div>
    </div>
</div>