.dropdown {
    margin-top: 6px;
}

.dropdown-menu {
    margin-top: -12px;
}

.lang-selector-dropdown {
    max-height: 200px;
    overflow-y: scroll;
    padding-top: 0px;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
}

.dropdown-content {
    border: 1px solid #ccc;
}
