.about-icon {
    width: 128px;
    height: 128px;
    padding: 10px;
    margin: auto;
    display: block;
}

.about-title {
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

.about-version {
    text-align: center;
}

.about-description {
    margin-top: 10px;
}

.about-footer {
    margin-top: 10px;
}