<div fxLayout="row">
    <div fxFlex="160px">
        <img src="./assets/icon.png" class="about-icon">
    </div>
    <div fxFlex>
        <div class="about-title">Oversetter</div>
        <div class="about-version">{{version}}</div>
        <div class="about-description">Translate text directly from your menubar.</div>
        <div class="about-footer">
            2017-2018 &copy; 4gray.
            <a (click)="openUrl('https://4gray.github.io/oversetter/')">Homepage</a>.
            <a (click)="openUrl('https://github.com/4gray/oversetter/issues')">Report a bug</a>
        </div>
    </div>
</div>