@import '~@ng-select/ng-select/themes/default.theme.css';

html,
body {
    background: none !important;
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    height: 100%;
    overflow: hidden;
}

.container {
    background: #fff;
    height: 100%;
}

form {
    margin: 0;
    padding: 0;
}

textarea {
    outline: none;
    border: none;
    padding: 10px;
    height: 100px;
    font-size: 12px;
}

.options-panel > #tabs {
    padding: 0 !important;
}

#result-area div,
#settings-area div {
    padding: 10px;
}

.clear {
    clear: both;
}

#footer {
    width: 100%;
    background: #eceaed;
    border-top: 1px solid #c9c4ca; // background-image: linear-gradient( #eceaed 0, #d1cfd2 100%);
    font-size: 11px;
}

.copyright {
    // padding: 0 10px;
    line-height: 40px;
}

.arrow-up {
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ededed;
    margin-left: 235px;
    margin-bottom: -1px;
}

/* remove standard-styles */

.options-panel select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    width: 150px;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    height: 40px;
    padding: 2px 0px 2px 5px;
    outline: none;
    border-radius: 0;
    border-image: linear-gradient(to top, #afafaf, rgba(0, 0, 0, 0)) 1 100%;
}

/* styling */

.options-panel {
    line-height: 28px;
    padding-right: 10px;
    background-color: #ececec;
    border-bottom: 1px solid #afafaf;
    display: flex;
    justify-content: space-between;
}

.options-panel select {
    background-color: transparent;
    background-image: url('./assets/select-arrow.png');
    background-position: right;
    background-repeat: no-repeat;
    color: #333;
    font-size: 12px;
}

select#from-lang {
    margin-left: 12px;
}

#translation-toolbar {
    display: none;
    cursor: pointer;
}

li.text {
    margin-left: 22px;
}

i.fa:hover,
.save-settings-btn:hover,
select#from-lang:hover,
select#to-lang:hover {
    color: #000;
    cursor: pointer;
}

.btn {
    border: 0;
    padding: 0;
    outline: none;
}

.dropdown {
    margin-top: 6px;
}

.dropdown-menu {
    margin-top: -12px;
}

button.slds-button.slds-button--neutral.slds-picklist__label {
    width: 130px !important;
}

/** NG-SELECT **/

ng-select {
    width: 150px;
    margin: 6px;
}

.ng-select.ng-select-single .ng-select-container {
    height: 28px;
}

.ng-select .ng-select-container {
    min-height: 28px;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: 0;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    padding: 0px 8px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    height: 25px;
    line-height: 25px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: #efefef;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    background-color: #ddd;
}
