$a: #fff;
html,
body {
    background: none !important;
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    height: 100%;
}

.container {
    background: #fff;
    height: 100%;
}

form {
    margin: 0;
    padding: 0;
}

textarea {
    outline: none;
    border: none;
    padding: 10px;
    height: 100px;
    font-size: 12px;
}

.options-panel>#tabs {
    padding: 0 !important;
}

#result-area div,
#settings-area div {
    padding: 10px;
}

.clear {
    clear: both;
}

#footer {
    width: 100%;
    background: #eceaed;
    border-top: 1px solid #c9c4ca; // background-image: linear-gradient( #eceaed 0, #d1cfd2 100%);
    font-size: 11px;
}

.copyright {
    padding: 0 10px;
    line-height: 40px;
}

.arrow-up {
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ededed;
    margin-left: 235px;
    margin-bottom: -1px;
}

/* remove standard-styles */

.options-panel select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    width: 150px;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    height: 40px;
    padding: 2px 0px 2px 5px;
    outline: none;
    border-radius: 0;
    border-image: linear-gradient(to top, #afafaf, rgba(0, 0, 0, 0)) 1 100%;
}

/* styling */

.options-panel {
    line-height: 40px;
    padding: 0 10px;
    background-color: #ececec; //background-image: linear-gradient( #ededed 0, #ededed 1px, #e7e7e7 2px, #d1d1d1 100%);
    border-bottom: 1px solid #afafaf;
    display: flex;
    justify-content: space-between;
}

.options-panel select {
    background-color: transparent;
    background-image: url('./assets/select-arrow.png');
    background-position: right;
    background-repeat: no-repeat;
    color: #333;
    font-size: 12px;
}

select#from-lang {
    margin-left: 12px;
}

.settings-icon {
    font-size: 16px;
    color: #666;
    float: right;
    margin-top: 12px;
    margin-right: 5px;
    outline: none;
}

.back-icon {
    font-size: 29px;
    color: #666;
    margin-right: 5px;
    float: left;
    width: 20px;
    border-right: 1px solid #ccc;
    line-height: 35px;
}

#close-btn {
    color: #666;
    font-style: italic;
    font-size: 14px;
    margin-left: 10px;
}

.save-settings-btn {
    background: none;
    border-radius: 2px;
    border: none;
    font-size: 14px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
    line-height: 30px;
    outline: none;
    float: left;
    cursor: pointer;
    color: #666;
}

#translation-toolbar {
    display: none;
    cursor: pointer;
}

#result-area:hover>#translation-toolbar {
    display: block;
    position: absolute;
    right: 20px;
    color: #fff;
    height: 40px;
    border-right: 20px solid #b3b3b3;
    border-left: 20px solid #b3b3b3;
    border-bottom: 10px solid transparent;
    width: 0px;
    padding: 0;
}

#translation-toolbar>i {
    position: absolute;
    left: -7px;
    top: 8px;
    font-size: 16px;
}

li.text {
    margin-left: 22px;
}

.checkbox-option {
    padding: 2px;
}

i.fa:hover,
.save-settings-btn:hover,
select#from-lang:hover,
select#to-lang:hover {
    color: #000;
    cursor: pointer;
}

#all-languages-list {
    width: 220px;
    height: 170px;
    margin-left: 10px;
    padding: 0px 5px;
    outline: none;
    border: 1px solid #ccc;
}

#selected-languages-list {
    width: 220px;
    height: 170px;
    margin-right: 10px;
    padding: 0px 5px;
    outline: none;
    border: 1px solid #ccc;
}

#add-language {
    background: #ccc;
    width: 40px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    cursor: pointer;
    color: #555;
    margin: 10px;
}

#remove-language {
    background: #ccc;
    width: 40px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

.settings-note {
    margin-top: 10px;
    font-size: 11px;
}

.settings-title {
    padding: 5px;
    font-weight: bold;
}

.settings-checkboxes {
    border: 0;
    padding: 0 0 8px 0;
    margin: 0;
}

.btn {
    border: 0;
    padding: 0;
    outline: none;
}

#offline-container {
    height: 297px;
    background: #ECECEC;
    text-align: center;
    .title {
        font-size: 18px;
        padding-top: 20px;
        font-weight: bold;
    }
    .offline-icon {
        color: #bfbfbf;
        font-size: 70px;
        margin-top: 20px;
    }
}

.about-container {
    width: 300px;
    background: #ececec;
    height: 100%;
    position: fixed;
    padding: 10px;
    text-align: center;
}

.about-icon {
    width: 128px;
    height: 128px;
    padding: 10px;
    margin: auto;
    display: block;
}

.about-title {
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
}

.about-version {
    text-align: center;
}

.about-description {
    margin-top: 10px;
}

.about-footer {
    margin-top: 20px;
}

.dropdown {
    margin-top: 6px;
}

.dropdown-menu {
    margin-top: -12px;
}

.lang-selector-dropdown {
    max-height: 200px;
    overflow-y: scroll;
    padding-top: 0px;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
}

.dropdown-content {
    border: 1px solid #ccc;
}