:host {
    color: var(--text-default);
}

#dictionary-container {
    overflow: hidden;
}

.dictionary-title {
    padding-left: 10px;
    border-right: 1px solid var(--background-secondary);
}

#vocabulary-list {
    overflow-y: scroll;
    height: 100vh;
    background: var(--background-tertiary);
    border-right: 1px solid var(--border-color-secondary);
    color: var(--text-default);

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        padding: 0px 10px;
        cursor: pointer;
        max-height: 30px;
        overflow: hidden;
        line-height: 30px;
    }

    li:hover {
        background: var(--border-color-secondary);
    }

    .active {
        background-color: var(--background-secondary);
        font-weight: bold;
    }
}

#vocabulary-panel {
    background: var(--background-tertiary);
    border-bottom: 1px solid var(--border-color-secondary);
    height: 45px;
    line-height: 45px;
    -webkit-app-region: drag;
    border-bottom: 1px solid var(--border-color-secondary);

    .panel-line {
        height: 100%;
        width: 1px;
        background: var(--background-secondary);
        display: block;
        position: absolute;
        left: 200px;
        top: 0;
    }
}

#vocabulary-translation {
    padding: 10px;
    color: var(--text-light);
    background: var(--background-default);

    #source-text {
        font-weight: bold;
    }

    #translated-text {
        margin-top: 10px;
    }
}

.remove-phrase {
    text-align: right;
    font-size: 18px;
    color: var(--text-default);
    padding-right: 10px;
}

.remove-phrase:hover {
    cursor: pointer;
    color: var(--text-dark);
}

.update-vocabulary {
    font-size: 18px;
    color: var(--text-default);
    padding-left: 10px;
}

.update-vocabulary > .fa-refresh:hover {
    color: var(--text-dark) !important;
}
