<div fxLayout="column" fxFlexFill id="dictionary-container">
    <div fxFlex="45px" id="vocabulary-panel">
        <div fxLayout="row">
            <div fxFlex="30" class="dictionary-title">
                <!-- My Dictionary -->
            </div>
            <div fxFlex="70">
                <div fxFlex fxFlexAlign="start" class="update-vocabulary">
                    <span class="fa fa-refresh" (click)="updateDictionary()"></span>
                </div>
                <div fxFlex></div>
                <div fxFlex class="remove-phrase">
                    <span *ngIf="selectedItem" class="fa fa-trash" (click)="removeItem()"></span>
                </div>
            </div>
        </div>
    </div>
    <div fxFlex>
        <div fxLayout="row" fxFlexFill>
            <div fxFlex="30" id="vocabulary-list" style="overflow-y: auto;">
                <ul>
                    <li
                        *ngFor="let item of vocabulary; let i = index"
                        (click)="setSelectedItem(item, i)"
                        [class.active]="i == selectedRow"
                    >
                        {{ item.$text }}
                    </li>
                </ul>
            </div>
            <div fxFlex="70" id="vocabulary-translation">
                <div *ngIf="selectedItem === null">Welcome to your offline dictionary.</div>
                <ng-container *ngIf="selectedItem">
                    <div id="source-text">{{ selectedItem.$text }}</div>
                    <div id="translated-text">{{ selectedItem.$translation }}</div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
