<div class="options-panel">
	<i class="fa fa-angle-left back-icon" (click)="validateApiKey()"></i>
	<!--<label>Enter your API-Key</label>-->
	<div id="tabs">
		<div (click)="changeSettingsTab(1)" [ngClass]="{'settings-tab': true, 'active-tab': activeTab===1}">API</div>
		<div (click)="changeSettingsTab(2)" [ngClass]="{'settings-tab': true, 'active-tab': activeTab===2}">Global</div>
		<div (click)="changeSettingsTab(3)" [ngClass]="{'settings-tab': true, 'active-tab': activeTab===3}">Shortcuts</div>
	</div>
	<!--<i class="fa fa-cog settings-icon" *ngIf="apiKey" [routerLink]="['/home']"></i>-->
</div>

<div id="settings-tab-1" *ngIf="activeTab===1" [ngClass]="{'active-tab': activeTab===1}">
	<textarea id="api-key" placeholder="Enter your API key here" type="text" [(ngModel)]="apiKey"></textarea>
	<div id="settings-area">

		<div class="translation">To use this application you need to <a href (click)="electronService.shell.openExternal('https://tech.yandex.com/translate/')">register</a>			free API-Key from Yandex Translate. For test you can use this dev-key: <i>trnsl.1.1.20160306T121040Z.ce3153278463656c.38be842aceb435f1c023544f5571eb64e2c01fdf</i></div>
		<div class="translation">
			<label><input type="checkbox" value="" [(ngModel)]="autolaunch"> Start at login</label>
			<label><input type="checkbox" value="" [(ngModel)]="showDockIcon"> Show dock icon</label>
			<label><input type="checkbox" value="" [(ngModel)]="alwaysOnTop"> Always on top</label>

			<!-- TODO: shortcuts -->
		</div>
	</div>
</div>

<div id="settings-tab-2" *ngIf="activeTab===2" style="height:221px;">
	Tab 2 content here
</div>

<div id="settings-tab-3" *ngIf="activeTab===3" style="height:221px;">
	Tab 3 content here
</div>

<div id="footer">
	<div class="copyright">
		<button [disabled]="!apiKey" (click)="saveApiKey(apiKey, 'apiKey')" class="save-settings-btn"><i class="fa fa-save"></i> Save</button>
		<div class="settings-text-bottom">{{errorMessage}}</div>
		<div id="close-btn" (click)="closeApp()">
			<i class="fa fa-power-off"></i>
		</div>
	</div>
</div>